.contained {
  background-color: var(--bg-color);
  color: var(--color);
}

.outlined {
  background-color: transparent;
  outline: 1px solid var(--bg-color);
  color: var(--bg-color);
}

.primary {
  --bg-color: var(--primary-color);
  --color: var(--button-primary-text);
}

.secondary {
  --color: var(--secondary-color);
}

.small {
  font-size: 0.8rem;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.2rem;
}
