.project-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 330px;
  /* width: 350px; */
  border-radius: 0.5rem;
  background-color: var(--background-color);
  /* box-shadow: var(--card-box-shadow); */
  border: 1px solid var(--card-border);
}

.image-container {
  height: 9rem;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
  border-radius: inherit;
}

.content {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tech-stack {
  display: flex;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}
