.h1 {
  font-weight: 600;
  font-size: 3rem;
}

.h2 {
  font-size: 2rem;
  font-weight: 700;
}

.h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.h4 {
  font-weight: 700;
}

.h5 {
  font-weight: 600;
}

.h6 {
  font-weight: 600;
}

.body1 {
  font-weight: 400;
  line-height: 1.6;
}

.body2 {
  line-height: 1.6;
  font-size: 0.9rem;
}

.subtitle1 {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.caption {
  font-size: 0.9rem;
  line-height: 1.66;
  font-weight: 500;
}
