.page-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: var(--max-width);
  margin: var(--header-height) auto;
}

.hero-section {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.light-container {
  overflow: hidden;
  z-index: -10;
  position: absolute;
  inset: 0;
}

.bg-light {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 0;
  aspect-ratio: 1/1;
  width: 40%;
  transform: translate(-50%, -75%);
}

.light-element {
  position: absolute;
  inset: 0;
  background-color: rgb(168 85 247/1);
  opacity: 0.7;
  border-radius: 9999px;
  transform: translateZ(0);
  filter: blur(120px);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info h1 {
  font-size: 2.5rem;
}

.info p {
  font-size: 1.2rem;
}

.action-buttons {
  display: flex;
  gap: 16px;
}

.hero-right-part {
  width: 550px;
  height: 350px;
}

.hero-right-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.projects-section {
  width: 100%;
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.experience-section {
  padding: 2rem;
  position: relative;
  width: 100%;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.timeline-container::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
  width: 2px;
  background-color: var(--color-secondary);
}

.item-container {
  display: flex;
  position: relative;
  text-align: right;
}

.item-container:nth-child(2n) {
  justify-content: flex-end;
  text-align: left;
}

.item {
  width: 45%;
}

.item-indicator::before {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid var(--color-secondary);
  background-color: inherit;
}
